body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #E0FFFF;
}
  
header {
  background-color: #add8e6;
  color: black;
  padding: 20px;
  text-align: center;
}
  
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

#fishList {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#locationList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.locations {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  box-sizing: border-box;
}